server:
  port: 8081

spring:
  application:
    name: SportsCenter
  config:
    import:
      - optional:classpath:env.properties
  datasource:
    url: jdbc:mysql://localhost:3306/sports-center
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: none
      naming:
        # Keeping the same name with the entity
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
#        format_sql: true
    show-sql: true
  data:
    redis:
      host: localhost
      port: 6379
